.product-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.product-section2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.product-card {
  position: relative;
  border-bottom: 1px solid #31331e;
  border-right: 1px solid #31331e;
  text-align: center;
  padding: 40px 20px;
  cursor: pointer;
}

article:hover {
  background-color: #eeebdbc6;
}

.product-card:last-child {
  border-right: 1px solid #31331e;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-info {
  margin-top: 10px;
  color: #31331e;
}

.product-title {
  font-size: 18px;
  font-weight: 500;
  margin: 40px 0 5px;
}

.product-price {
  font-size: 16px;
}

.old-price {
  text-decoration: line-through;
  color: #3b3d2c8e;
  font-size: 16px;
  margin-right: 8px;
}

.new-price {
  font-size: 16px;
  font-weight: 500;
  color: #3b3d2c;
}

/* mørkt overlay */
.soldout::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #3b3d2c2d;
  z-index: 1;
}

/* teksten ovenpå */
.soldout-text {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 20px;
  color: #31331e;
  z-index: 2;
}

/* SHOP SIDE */

.shop-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #31331e;
}

.shop-image {
  width: 100%;
  height: 500px;
  object-fit: cover;
  display: block;
}

.shop-image-container {
  height: 500px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #31331e;
}

.shop-text-container {
  margin-top: 300px;
  padding-left: 20px;
}
.shop-text-container p {
  font-size: 16px;
  line-height: 1.8rem;
  color: #31331e;
  margin-bottom: 10px;
}

.read-more {
  font-size: 16px;
  text-decoration: none;
  color: #3f412f;
  border-bottom: 1px solid #3f412f;
}

/* MOBILE */
@media (max-width: 768px) {
  .product-section {
    grid-template-columns: 1fr 1fr;
  }

  .product-section2 {
    grid-template-columns: 1fr;
  }

  .product-card {
    padding: 24px 12px;
  }

  .product-title {
    font-size: 16px;
    margin: 20px 0 5px;
  }

  .product-price,
  .old-price,
  .new-price {
    font-size: 14px;
  }

  .soldout-text {
    font-size: 16px;
  }

  .shop-section {
    grid-template-columns: 1fr;
  }

  .shop-image-container {
    height: auto;
  }

  .shop-image {
    height: 320px;
  }

  .shop-text-container {
    margin-top: 0;
    padding: 20px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 12px;
  }
}
