/*hero section*/
.hero {
  display: flex;
  flex-direction: column;
}

.hero-right {
  order: -1;
}

.hero-right img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.hero-left {
  padding: 1.5rem;
}

.category-cards,
.hero-text {
  display: none;
}

.hero h1 {
  font-size: 36px;
  line-height: 1.2;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}

/*bestsellers section*/
.bestsellers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100px;
  padding: 0 1rem 0.4rem 1rem;
  border-bottom: 1px solid #31331e;
}

.bestsellers h2 {
  font-size: 25px;
  font-weight: 500;
  text-transform: uppercase;
  align-self: flex-end;
  margin-bottom: 0.1rem;
}

.all-products {
  font-size: 18px;
  text-decoration: none;
  color: #3f412f;
  border-bottom: 1px solid #3f412f;
  text-transform: uppercase;
  align-self: flex-end;
  margin-bottom: 0.5rem;
}

/*cards section*/
.front-products-wrapper {
  overflow-x: auto;
  scrollbar-width: none;
}

.front-products-wrapper::-webkit-scrollbar {
  display: none;
}

.front-products {
  display: grid;
  grid-template-columns: repeat(4, 50%);
}

.front-product-card {
  height: 300px;
  border-right: 1px solid #31331e;
  border-bottom: 1px solid #31331e;
  text-align: center;
  padding: 1.5rem 0 1.2rem;
}

.front-product-image {
  width: 100%;
  max-width: 160px;
  height: auto;
  object-fit: contain;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
}

.front-product-title,
.front-product-price {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}

/*brand section*/

.brand-image {
  position: relative;
}

.brand-photo {
  width: 100%;
  display: block;
}

.brand-logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 55%;
  filter: invert(1);
}

.brand-text {
  padding: 3rem 1.5rem;
}

.brand-text h2 {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.brand-text p {
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

/*guide section*/
.guides-section {
  border-bottom: 1px solid #31331e;
  padding: 0.7rem 1.5rem;
  text-align: left;
}

.guides-section h2 {
  font-size: 32px;
  font-weight: 500;
  margin-bottom: 0;
  text-transform: uppercase;
}

@media (min-width: 1024px) {
  /*hero section*/
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid #3f412f;
    min-height: 80vh;
  }

  .hero-right {
    order: 0;
    border-left: 1px solid #3f412f;
  }

  .hero-left {
    padding: 3rem;
    flex-direction: column;
    justify-content: space-between;
  }

  .hero-text {
    display: block;
    font-size: 15px;
    margin: 1.5rem 8rem 11rem 0;
  }

  .category-cards {
    display: flex;
    gap: 2rem;
  }

  .category-card img {
    width: 150px;
    height: 190px;
    object-fit: cover;
  }

  .category-card a:last-child {
    display: block;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 18px;
    text-decoration: none;
    color: #3f412f;
    border-bottom: 1px solid #3f412f;
  }

  .hero h1 {
    font-size: 52px;
  }

  .hero-right img {
    height: 100%;
  }

  /*bestsellers section*/
  .bestsellers {
    padding: 2rem;
    margin-top: 1rem;
    border-bottom: 1px solid #31331e;
  }

  .bestsellers h2 {
    font-size: 32px;
  }

  .all-products {
    font-size: 18px;
    text-decoration: none;
    color: #3f412f;
    border-bottom: 1px solid #3f412f;
    text-transform: uppercase;
    align-self: flex-end;
    margin-bottom: 0;
  }

  /*cards section*/
  .front-products-wrapper {
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .front-products-wrapper::-webkit-scrollbar {
    display: none;
  }

  .front-products {
    display: flex;
    width: max-content;
    scroll-behavior: smooth;
    border-bottom: 1px solid #31331e;
  }

  .front-product-card {
    flex: 0 0 289px;
    height: 458px;
    border-right: 1px solid #31331e;
    border-bottom: none;
  }

  .front-product-image {
    width: 100%;
    max-width: 230px;
    height: auto;
    object-fit: contain;
    margin-bottom: 3.5rem;
    margin-top: 3.5rem;
  }

  .front-product-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .front-product-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
  }

  .front-product-price {
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    margin: 0;
  }

  /*brand section*/
  .brand-section {
    border-bottom: 1px solid #31331e;
  }
  .brand-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .brand-image {
    border-right: 1px solid #31331e;
  }

  .brand-photo {
    width: 100%;
    display: block;
  }

  .brand-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    filter: invert(1);
  }

  .brand-text {
    padding: 2rem 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .brand-text h2 {
    font-size: 36px;
  }

  .brand-text p {
    font-size: 16px;
    max-width: 560px;
  }

  /*guide section*/
  .guides-section {
    padding: 3rem 1.5rem;
  }

  .guides-section h2 {
    font-size: 36px;
  }
}
